.nobg{
	background-color: rgba(255,255,255,0.05);
}
.row{
	margin: 0;
}
.btn-g{
	margin: 10px 0;
}
.table thead th{
	vertical-align: middle !important;
	text-align: center;
}
/*表格分页详情*/

.fixed-table-pagination .pagination-detail .btn,.fixed-table-pagination .dropup .dropdown-menu{
	background-color: rgba(255,255,255,0.3);
}
.fixed-table-pagination .dropup .dropdown-menu li:hover a{
	background-color: rgba(0,0,0,0.6);
	color:#fff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background-color: rgba(0,0,0,0.6);
	color:#fff;
}
/*.fixed-table-pagination .pagination a:hover{*/
	/*background-color: rgba(0,0,0,0.3);*/
/*}*/

/*表格分页按钮*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #fff !important;
	color:#000;
	border-color: rgba(0,0,0,0);
}
.pagination > li > a, .pagination > li > span{
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.3);
}
.pagination > li:hover > a, .pagination > li:hover > span{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.fixed-table-pagination li.disabled a,.fixed-table-pagination li.disabled:hover a
{
	color: rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	cursor: not-allowed !important;
}