*{
    margin: 0;
    padding: 0;
}
/*body{*/
    /*background: url("images/bj.png") no-repeat;*/
    /*background-attachment: fixed;*/
/*}*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.news .item{
    padding: 15px 40px 45px 28px;
    background: url("images/bj_dcl.png") no-repeat;
    background-size: 100% 236px;
}
.news .item h3{
    font-size: 16px;
    color: #798cef;
    font-weight: bold;
    text-shadow: 0 2px 3px #000;
    margin-bottom: 20px;
}
.news .item .info li{
     border-bottom: 1px solid #6485cd;
    line-height: 22px;
    padding-top: 22px;
}
.news .item .info li a{
    display: flex;
    justify-content: space-between;
    color: #6485cd;
}
.map{
    height: 760px;
    margin-top: 20px;
    background: url("images/bj_map.png") no-repeat;
    background-size: 100% 760px;
    display: flex;
    justify-content: space-between;
}
.map .left{
    padding: 20px 0 0 30px;
    width: 65%;
    height: 740px;
    box-sizing: border-box;
    float: left;
}
.map .left button{
    padding: 5px;
    font-size: 12px;
    background: transparent;
    border: 1px solid #6485cd;
    color: #6485cd;
}
.map .left img{
    height: 70%;
    margin-top: 10%;
}
.map .right{
    width: 35%;
    padding: 80px 115px 80px 0;
    box-sizing: border-box;
    float: right;
}
.map .right .info{
    width: 100%;
    min-height: 380px;
    background: rgba(134,172,255,0.16);
    border-radius: 4px;
    padding-top: 20px;
}
.map .right .info h3{
    text-align: center;
    font-size: 16px;
    color: #6485cd;
    padding: 20px 0;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 0 4px #000;
}
.map .right .info ul li{
    padding: 0 20px;
    color: #769cef;
    line-height: 34px;
}
.map .right .info ul li .pro{
    display: inline-block;
    width: 40%;
}

#floor-box .left{
    position: relative;
}
#floor-box .left .floors{
    height: 800px;
    width: 258px;
    position: relative;
    left: 50%;
    margin-left: -129px;
}
#dot{
    position: absolute;
    left: 87%;
    top: 395px;
    cursor: pointer;
}
#pic{
    position: absolute;
    left: 34px;
    top: 30px;
    display: none;
}
#pic img{
    width: 370px;
}
.info-container{
    margin-top: 20px;
}
.info-container .accident{
padding: 15px 40px 70px 30px;
    background: url("images/bj_sg.png") no-repeat;
    background-size: 100% 705px;
    min-height: 640px;
}
.info-container .accident h3{
    font-size: 16px;
    color: #798cef;
    font-weight: bold;
    text-shadow: 0 2px 3px #000;
    margin-bottom: 12px;
}
.info-container .accident .layui-card{
    background: #193053;
    box-shadow: 0 0 4px #000;
    color: #759def;
    margin-top: 20px;
    font-size: 12px;
}
.info-container .accident .layui-card .layui-card-header{
    color: #759def;
    border-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}
.layui-card-body {
    padding: 0 15px 8px;
    line-height: 20px;
}
#accident-chart{
    box-sizing: border-box;
    padding: 20px 30px 10px 20px;
    background: url("images/bj_3n.png") no-repeat;
    background-size: 100% 315px;
}
#danger-chart{
    box-sizing: border-box;
    padding: 20px 30px 10px 20px;
    background: url("images/bj_qn.png") no-repeat;
    background-size: 100% 315px;
}
#year{
    box-sizing: border-box;
    padding: 20px 20px 40px;
    margin-top: 6px;
    background: url("images/bj_gsqn.png") no-repeat;
    background-size: 100% 385px;
}